<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>

<title>Free Guidance Website Template | Contact :: w3layouts</title>

<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />

  <link rel="stylesheet" href="/static/select/chosen.css">
  <style type="text/css" media="all">
    /* fix rtl for demo */
    .chosen-rtl .chosen-drop { left: -9000px; }
  </style>

<link href="/static/multiple-select.css" rel="stylesheet"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script> 

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates' rel='stylesheet' type='text/css'>
<script src="/static/jquery.multiple.select.js"></script>
<script src="/static/select/chosen.jquery.js" type="text/javascript"></script>
<script src="/static/select/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="header-bg">
  <div class="wrap"> 
    <div class="total-box">
        <div class="total">
          <div class="header_top">
              <div class="menu">
                <ul>
                  <li class="active"><a href="/home">Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="/thesis/home">THESES LIBRARY</a></li>
                  <li><a href="/student/home">STUDENT</a></li>
                  <li><a href="/faculty/home">FACULTY</a></li>
                  <li><a href="/university/home">UNIVERSITY</a></li>
                  <li><a href="/college/home">COLLEGE</a></li>
                  <li><a href="{{url}}">{{url_linktext}}</a></li>
                  <div class="clear"></div>
                </ul>
              </div>
              <ul class="follow_icon">
              <li><a href="#" style="opacity: 1;"><img src="/images/fb.png" alt=""></a></li>
              <li><a href="#" style="opacity: 1;"><img src="/images/tw.png" alt=""></a></li>
              <li><a href="#" style="opacity: 1;"><img src="/images/rss.png" alt=""></a></li>
            </ul>
              <div class="clear"></div>
          </div>
           <div class="header-bottom">
           <div class="logo">
            <h1><a href="index.html">Create New Thesis Entry</a></h1>
           </div>
       
          <div class="clear"></div> 
        </div>
      </div>  
    </div>
   </div>
</div>
  <div class="banner-box">
    <div class="wrap">
      <div class="main-top">
        <div class="main">
          <div class="section group">
        <div class="col span_2_of_3">
          <div class="contact-form">
      
              <form method="post" class="create-form" id='MyForm'  name="edit">
                <div>
                  <span><label>Year</label></span>
                  <select name="year" >
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                    </select>
                </div>
                <div>
                  <span><label>Title</label></span>
                  <span><input type="text" name="title"  placeholder="Ex. CoinNect"  class="textbox" required></span>
                </div>
                 <div>
                  <span> <label>Subtitle</label> </span>
                  <span><input type="text" name="sub"    placeholder="Ex. A Coin Operated Wi-Fi Vending Machine" class="textbox" required></span>
                </div>
                <div>
                  <span><label>Abstract</label></span>
                  <span><textarea name= "abstract" Rows="3" cols="40" required > [Input Thesis Abstract] </textarea></span>
                </div>
              
            
             <div>
                  <span><label>University</label></span>
                  <select  name="univ" class="univ" id="univ">
                
                     {% for this in university%}                    
                          <option >{{this.name}} </option>
                     {% endfor %} 
                  </select>

                </div>
                <div>
                  <span><label>College</label></span>
                  <select  name="college" class="college" id="college">
                  
                     {% for this in college %}                    
                          <option >{{this.name}} </option>
                     {% endfor %} 
                  </select>

                </div>
                <div>
                  <span><label>Department</label></span>
                  <select  name="department" class="department" id="department">
          
                     {% for this in department%}                    
                          <option  >{{this.name}} </option>
                     {% endfor %} 
                  </select>

                </div>

                <div>
                  <span><label>Adviser</label></span>
                  <select name="adviser" class="adviser">
                      {% for entry in adviser %}
                          <option >{{entry.name}}</option>
                      {% endfor %} 
                  </select>
                </div>

                <div>

                  <span><label>Proponents</label></span>
                  <select data-placeholder="Proponents" class ="proponents" name="proponents" multiple class='chosen-select-no-results'  style="width:400px;" tabindex="18" id="proponents" >
                  {% for entry in student %}
                          <option>{{entry.first_name}}  {{entry.middle_name}} {{entry.last_name}}   </option>
                        {% endfor %}
                      </select>
                </div>
                  <span><label>Section</label></span>
                  <select name="section" >
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
               
               <div>
                  <span><input type="submit" value="Submit"></span>
              </div>
              </form>
          </div>
          </div>
        <div class="col span_1_of_3">
          
            <div class="company_address">
              <h3>Local Navigation</h3>
                  <p> >>> View All Thesis Collections</p>
                  <p> >>> Edit Thesis Entries</p>
                  <p> >>> Back To HomePage</p>
            
           </div>
         </div>
         <div class="clear"></div> 
        </div>
       </div>
      </div>
        
  </div>  
  </div> 


</body>

 <script type="text/javascript">
    $("#proponents").chosen({max_selected_options: 5});
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>

<script type="text/javascript" src='/static/script.js'></script>




</html>

      
      
            